@import '~bootstrap/scss/bootstrap';


.home {
  background-color: rgb(181, 255, 164);
  height: 1000px;
}

.side {
  background-color: rgb(255, 215, 128);
  height: 500px;
  border-radius: 40px;
  border: solid;
}
