// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.home {
  background-color: rgb(181, 255, 164);
  height: 1000px;
}

.side {
  background-color: rgb(255, 215, 128);
  height: 500px;
  border-radius: 40px;
  border: solid;
}
